.App {
  text-align: center;
  margin-top: 100px;
}


.hello{
  border: 0.7px solid;
  
  margin-left:auto;
  margin-right:auto;
  border-color: rgb(198,196,196);
  width:300px;
  font-size: 20px;
}

tr{
  height: 70px;
}

td{
  text-align: left;
  padding-left: 9%;
  font-family:Helvetica;
  font-weight: 500;
}
